# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Dependency directories
node_modules/

# OS/Editor Settings
.DS_Store
Thumbs.db
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Packaging
*.zip
*.tar.gz
*.rar

# Images (Geral)
*.jpg
*.webp
*.gif

# Gemini
GEMINI/
GEMINI.md
README_GEMINI.md